{% extends 'base.html' %}
{% block title %}Accounts{% endblock title %}
{% block body %}

<section id="parentholder">

    <!-- <div class="container px-5 py-5 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">Add Flow</h1>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-2 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Withdraw</button>ing
      </div>
    </div> -->

    <section id="accounts">
        <div id="account_tabs">


            <dialog class=" bg-opacity-50 rounded-lg" style="background-color: rgb(24, 24, 24);" id="flow_modal">
                <section class="text-gray-400 rounded-lg p-8 body-font" style="background-color: rgb(11,11,11);">
                    <form action="/add_flow" method="post" autocomplete="off">
                        {% csrf_token %}

                        <div class=" bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0" style="background-color: rgba(32, 32, 32, 0.849);">
                            <div class=" flex flex-col sm:flex-row sm:items-center items-start mx-auto">
                                <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">Add Flow</h1>
                                <button onclick="{
                                    if (this.textContent.toUpperCase() == 'WITHDRAW') {
                                        this.innerHTML = 'Deposit';
                                        flow_direction_input.value = 'DEPOSIT';
                                    }else{
                                        this.innerHTML = 'Withdraw';
                                        flow_direction_input.value = 'WITHDRAW';
                                    }
                                }" style="user-select: none;" type="button" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-2 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Withdraw</button>ing

                                <input type="hidden" name="flow_direction_input" id="flow_direction_input" value="WITHDRAW">
                                
                            </div>
                            <br>
                            <div class="relative mb-4">
                                <label for="catalyst_name" class="leading-7 text-sm text-gray-400">Name of Catalyst</label>
                                <input required type="text" id="catalyst_name" name="catalyst_name" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-4">
                                <label for="purpose" class="leading-7 text-sm text-gray-400">Purpose</label>
                                <input required type="text" id="purpose" name="purpose" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-4">
                                <label for="amount" class="leading-7 text-sm text-gray-400">Amount</label>
                                <input required type="number" id="amount" name="amount" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <select id="accounts_select" name="accounts_select" class="bg-gray-600 bg-opacity-20 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            
                                    <option selected disabled style="color: grey;">Choose an Account</option>
                                

                            </select><br>
                            <div class="relative mb-4">
                                <input class="w-4 h-4 text-blue-600 bg-gray-900 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" type="checkbox" name="is_cheque" id="is_cheque"> Is Cheque
                            </div>

                            <br>
                            <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
                            <p class="text-xs mt-3">Press ESC to cancel</p>
                        </div>
                    </form>

                </section>
            </dialog>



            <div style="text-align: center;"><button id="flow_button" onclick="flow_modal.showModal();">Flow</button></div>

            <hr class="m-3">
            
            <div id="accounts_holder">

                <div id="loading_icon_ACCOUNTS" class="text-center">
                        <svg aria-hidden="true" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                </div>

                <!-- <div class="acc_tab">BOI</div>
                <div class="acc_tab">BOI 2</div>
                <div class="acc_tab">PNB</div>
                <div class="acc_tab">PNB2</div>
                <div class="acc_tab">Joint</div> -->
            </div>
        </div>


        <div id="account_details">
            Click on an account to know more

                <div class="container px-5 py-24 mx-auto flex flex-wrap">
                  
                  <!-- <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
                    <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                      <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">2</div>
                    <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                      <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                      </div>
                      <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">The Catalyzer</h2>
                        <p class="leading-relaxed">VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.</p>
                      </div>
                    </div>
                  </div> -->
                  
                </div>

                
            

        </div>
    </section>
    
    
    <section id="notifbar">

        <section id="periodic_deposits">

            
            <h3>Periodic Deposits</h3><hr>
            
            <div class="m-4">
                <div class="mb-1 text-base font-medium dark:text-white">Dark</div>
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
                </div>
            </div>
            <div class="m-4">
                <div class="mb-1 text-base font-medium dark:text-white">Dark</div>
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 90%"> 90%</div>
                </div>
            </div>
            <div class="m-4">
                <div class="mb-1 text-base font-medium dark:text-white">Dark</div>
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
                </div>
            </div>
        </section>



        <section id="recent_flows">

            
            <h3>Recent Flows</h3><hr>
            <div id="loading_icon_FLOWS" class="text-center">
                <svg aria-hidden="true" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
        </div>
            
            <!-- <div class="flow">
                <span class="amt">500/-</span>
                <span class="purpose">Phuchka</span>
                <span class="date">17.12.2003</span>
            </div>
             -->
        </section>

        


    </section>
    
</section>

<style>
    #parentholder{
        width: 100%;
        /* background-color: rgba(114, 253, 79, 0.425); */
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
    }


    /* ACCOUNTS */
    #parentholder #accounts{
        /* background-color: rgba(255, 81, 0, 0.349); */
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    #account_tabs{
        /* background-color: rgba(0, 255, 255, 0.336); */
        width: 20%; height: 100%;
        
    }
    #flow_button:active{
        background-color: green;
    }
    #flow_button{
        width: 60%;
        font-size: 20px;
        background-color: limegreen;
        margin: 20px;
        user-select: none;
    }
    #flow_modal::backdrop{
        align-items: center;
        text-align: center;
        background-color: #00000052;
        transition: 0.2s;
    }
    #flow_modal{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        /* width: 50%; */
        /* height: 100px; */
        /* background-color: green; */
    }

    .acc_tab .alive{
        background-color: rgb(46, 46, 46);
    }
    .acc_tab:hover{
        background-color: rgb(46, 46, 46);
    }
    .acc_tab{
        background-color: rgb(73, 73, 73);
        padding: 10px;
    }

    #account_details{
        background-color: rgba(32, 32, 32, 0.849);
        flex-grow: 1; height: 100%;
        padding: 20px;
        overflow: auto;
    }
    #account_location{
        margin-left: 15px;
        color: rgb(214, 214, 214);
    }
    #account_amt{
        color: limegreen;
    }
    #acc_pd_amt{
        color: orangered;
    }




    /* NOTIFBAR */
    #parentholder #notifbar{
        /* background-color: rgba(0, 255, 255, 0.349); */
        height: 100%;
        width: 300px;
    }
    #notifbar{
        background-color: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
    }


    #notifbar h3{
        margin: 10px;
        /* color: yellowgreen; */
        font-size: 1.5rem;
        font-weight: 500;
        
    }

    #notifbar hr{
        margin: 10px 15px;
        opacity: 50%;
    }

    #notifbar .flow{
        background-color: rgba(34, 163, 223, 0.274);
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        position: relative;
        height: 55px;

        overflow: hidden; text-overflow: ellipsis;
        white-space: nowrap;
    }

    .flow .amt{
        /* color: lime; */
        font-weight: bold;
        text-align: left;
    }

    .deposit{
        color: lime;
    }
    .withdraw{
        color: orangered !important;
    }

    .flow .purpose{
        font-weight: bolder;
        text-align: right;
        
    }
    .flow .date:hover{font-size: medium; background-color: black; font-weight: 500;}
    .flow .date{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 2px 5px;
        color: rgb(221, 221, 221);
        font-size: small;
    }

    

</style>


{% endblock body %}
{% block postdoc_script %}

<script id="FutureBuilder">

    // FutureBuilder DOMs:-
    

    // DATA Vars
    let ACCOUNTS = {};

    let FLOWS = {};
    


    fetch('get_accounts')
    .then((response) => response.json())
    .then((data) => {
        ACCOUNTS = data;
        accounts_holder.innerHTML = '';

        
        // UPDATE UI wherever ACCOUNTS are required

        for (const key in ACCOUNTS) {
            if (Object.hasOwnProperty.call(ACCOUNTS, key)) {
                const account = ACCOUNTS[key];

                // Accounts Tab
                accounts_holder.innerHTML += `<div id="acc_${key}" class="acc_tab" onclick="show_account(${key});">${account.name}</div>`;
                
                // Flow Modal Options
                accounts_select.innerHTML += `<option value="${key}">${account.name}</option>`;
            }
        }




    });
    

    fetch('get_recent_flows')
    .then((response) => response.json())
    .then((data) => {
        FLOWS = data;

        recent_flows.innerHTML = `<h3>Recent Flows</h3><hr>`;

        for (const key in FLOWS) {
            if (Object.hasOwnProperty.call(FLOWS, key)) {
                const flow = FLOWS[key];
                console.log(flow);

                date = new Date(flow.time_created);

                

                recent_flows.innerHTML += `<div class="flow">
                    <span class="amt ${flow.flow}">${flow.amount}/-</span>
                    <span class="purpose">${flow.purpose} - ${flow.catalyst}</span>
                    <span class="date">${date.toDateString()}</span>
                </div>
                `; 

            }
        }

        


    });



</script>

<script id="onclick_funcs">
    function show_account(id) {
        console.log(ACCOUNTS[id]);

        let acc = ACCOUNTS[id]
        
        let periodic_deposits_html = `<div class="fnt-med my-9 mx-3" style="color: grey;">NONE</div>`;
        if (acc['pd_amt'] != null) {
            // Beautify date..
            date = new Date(acc['pd_upcoming_date']);


            
            periodic_deposits_html = `
            <div class="flex relative pt-10 pb-20 sm:items-center md:w-3/4 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm"></div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 id="acc_pd_amt" class="font-medium title-font mb-1 text-2xl">₹${acc['pd_amt']}/-</h2>
                        <p class="leading-relaxed">${date.toDateString()}</p>
                    </div>
                </div>
            </div>
            
            `;
            
        }

        account_details.innerHTML = `
        <h1 class="head1" id="account_name">${acc.name}</h1>
        <div id="account_location">${acc.location} <span style="color: rgb(100, 100, 100);">(${acc.category.toUpperCase()})</span></div>

        <div id="account_amt" class="mx-3 my-7 fnt-x-big">₹${acc.amt_present}/-</div>

        <div class="fnt-med mx-3">Upcoming Periodic Deposits</div>
        <hr class="mx-3">
        
        ${periodic_deposits_html}

        `;


    }
</script>


{% endblock postdoc_script %}